.dropdown {
  position: relative;
  display: inline-block;

  &:hover {
    z-index: 1;
  }

  &-btn {
    display: flex;
  }

  &-menu {
    position: absolute;
    border: 1px solid #ddd;
    width: 200px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .1);
    border-radius: 5px;
    background: #fff;
    left: -10px;
    top: 100%;
    opacity: 0;
    pointer-events: none;
    user-select: none;
    overflow-y: auto;
    transform: translateY(20px);
    transition-duration: 0s;
    height: 0;

    &-content {
      padding: 6px;
    }

    &.to-top {
      top: initial;
      bottom: 100%;
      transform: translateY(0);

      &.expand {
        transform: translateY(-10px);
      }
    }

    &.expand {
      transition: transform 0.3s, opacity 0.3s;
      pointer-events: auto;
      opacity: 1;
      transform: translateY(10px);
    }

    &.abreast {
      left: 100%;
      transform: translateX(10px);

      &.expand {
        transform: translateX(5px);
      }

      &.to-left {
        transform: translateX(-10px);
        right: 100%;
        left: auto;

        &.expand {
          transform: translateX(-5px);
        }
      }
    }
  }
}
