@font-face {
  font-family: 'textbus';
  src:
    url('fonts/textbus.ttf?92d57q') format('truetype'),
    url('fonts/textbus.woff?92d57q') format('woff'),
    url('fonts/textbus.svg?92d57q#textbus') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="xnote-icon-"], [class*=" xnote-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'textbus' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.xnote-icon-arrow-left:before {
  content: "\e900";
}
.xnote-icon-arrow-right:before {
  content: "\e901";
}
.xnote-icon-arrow-top:before {
  content: "\e902";
}
.xnote-icon-arrow-bottom:before {
  content: "\e903";
}
.xnote-icon-source-code:before {
  content: "\e904";
}
.xnote-icon-insert-paragraph-after:before {
  content: "\e905";
}
.xnote-icon-insert-paragraph-before:before {
  content: "\e906";
}
.xnote-icon-components:before {
  content: "\e907";
}
.xnote-icon-table-border:before {
  content: "\e908";
}
.xnote-icon-table-remove:before {
  content: "\e909";
}
.xnote-icon-device:before {
  content: "\e90a";
}
.xnote-icon-paint-bucket:before {
  content: "\e90b";
}
.xnote-icon-background-color:before {
  content: "\e90c";
}
.xnote-icon-color:before {
  content: "\e90d";
}
.xnote-icon-brush:before {
  content: "\e90e";
}
.xnote-icon-table-edit:before {
  content: "\e90f";
}
.xnote-icon-table-split-columns:before {
  content: "\e910";
}
.xnote-icon-table-delete-row-top:before {
  content: "\e911";
}
.xnote-icon-table-delete-row-bottom:before {
  content: "\e912";
}
.xnote-icon-table-delete-column-right:before {
  content: "\e913";
}
.xnote-icon-table-delete-column-left:before {
  content: "\e914";
}
.xnote-icon-table-add-row-top:before {
  content: "\e915";
}
.xnote-icon-table-add-row-bottom:before {
  content: "\e916";
}
.xnote-icon-table-add-column-right:before {
  content: "\e917";
}
.xnote-icon-table-add-column-left:before {
  content: "\e918";
}
.xnote-icon-image:before {
  content: "\e919";
}
.xnote-icon-text-indent:before {
  content: "\e91a";
}
.xnote-icon-music:before {
  content: "\e91b";
}
.xnote-icon-video:before {
  content: "\e91c";
}
.xnote-icon-unlink:before {
  content: "\e91d";
}
.xnote-icon-select:before {
  content: "\e91e";
}
.xnote-icon-tree:before {
  content: "\e91f";
}
.xnote-icon-setting:before {
  content: "\e920";
}
.xnote-icon-copy:before {
  content: "\e92c";
}
.xnote-icon-paste:before {
  content: "\e92d";
}
.xnote-icon-pushpin:before {
  content: "\e946";
}
.xnote-icon-upload:before {
  content: "\e961";
}
.xnote-icon-history-back:before {
  content: "\e967";
}
.xnote-icon-history-forward:before {
  content: "\e968";
}
.xnote-icon-quotes-right:before {
  content: "\e978";
}
.xnote-icon-loading:before {
  content: "\e97f";
}
.xnote-icon-search:before {
  content: "\e986";
}
.xnote-icon-enlarge:before {
  content: "\e989";
}
.xnote-icon-shrink:before {
  content: "\e98a";
}
.xnote-icon-bin:before {
  content: "\e9ac";
}
.xnote-icon-list-numbered:before {
  content: "\e9b9";
}
.xnote-icon-list:before {
  content: "\e9bb";
}
.xnote-icon-link:before {
  content: "\e9cb";
}
.xnote-icon-emoji:before {
  content: "\e9e2";
}
.xnote-icon-plus:before {
  content: "\ea0a";
}
.xnote-icon-command:before {
  content: "\ea4e";
}
.xnote-icon-shift:before {
  content: "\ea4f";
}
.xnote-icon-ctrl:before {
  content: "\ea50";
}
.xnote-icon-opt:before {
  content: "\ea51";
}
.xnote-icon-cut:before {
  content: "\ea5a";
}
.xnote-icon-line-height:before {
  content: "\ea5f";
}
.xnote-icon-letter-spacing:before {
  content: "\ea60";
}
.xnote-icon-font-size:before {
  content: "\ea61";
}
.xnote-icon-bold:before {
  content: "\ea62";
}
.xnote-icon-underline:before {
  content: "\ea63";
}
.xnote-icon-italic:before {
  content: "\ea64";
}
.xnote-icon-strikethrough:before {
  content: "\ea65";
}
.xnote-icon-superscript:before {
  content: "\ea69";
}
.xnote-icon-subscript:before {
  content: "\ea6a";
}
.xnote-icon-clear-formatting:before {
  content: "\ea6f";
}
.xnote-icon-table:before {
  content: "\ea71";
}
.xnote-icon-ltr:before {
  content: "\ea74";
}
.xnote-icon-rtl:before {
  content: "\ea75";
}
.xnote-icon-paragraph-left:before {
  content: "\ea77";
}
.xnote-icon-paragraph-center:before {
  content: "\ea78";
}
.xnote-icon-paragraph-right:before {
  content: "\ea79";
}
.xnote-icon-paragraph-justify:before {
  content: "\ea7b";
}
.xnote-icon-code:before {
  content: "\ea80";
}
.xnote-icon-terminal:before {
  content: "\ea81";
}
