.top-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: none;

  &.active {
    display: block;
  }
}

.top-delete-toolbar {
  position: relative;
  height: 0;
  top: -10px;
}

.toolbar-wrapper {
  height: 30px;
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
}


.insert-bar {
  padding-left: 10px;
  padding-right: 10px;
  margin-left: -10px;
  margin-right: -10px;
  height: 18px;

  table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    position: relative;
    z-index: 1;

    td {
      box-sizing: border-box;
      border: 1px solid transparent;
      position: relative;
    }

    .insert-btn-wrap {
      width: 21px;
      height: 21px;
      right: -10px;
      position: absolute;
      top: 0;
      z-index: 1;
      cursor: pointer;

      .insert-btn {
        cursor: inherit;
        background: #ccc;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        padding: 0;
        border: none;
        color: #fff;
        font-size: 16px;
        text-align: center;
        line-height: 20px;
        position: relative;
        box-shadow: none;
        transform: scale(0.2);
        transition: transform .15s;

        &:after {
          position: absolute;
          width: 10px;
          height: 10px;
          background: inherit;
          content: "";
          transform: rotateZ(45deg);
          top: 12px;
          left: 5.5px;
          z-index: -1;
        }
      }

      &:hover {
        .insert-btn {
          background: #296eff;
          transform: scale(1);
        }
      }
    }
  }
}


.action-bar {
  overflow: hidden;
  position: relative;
  z-index: 0;

  &.active {
    display: block;
  }

  table {
    border-spacing: 0;
    border-collapse: collapse;
    table-layout: fixed;
    overflow: hidden;

    td {
      box-sizing: border-box;
      border: 1px solid #ddd;
      background: #eee;
      cursor: pointer;
      position: relative;
      height: 12px;

      &:hover {
        background: #dedede;
      }

      &.active {
        background: #296eff;
        border-color: #2358c9;

        &:before {
          content: "";
          position: absolute;
          top: -1px;
          bottom: 0;
          border-width: 0 0 0 1px;
          border-style: solid;
          border-color: inherit;
          left: -1px;
        }
      }
    }
  }
}
