.xnote-todolist {
  display: flex;
  margin: 8px 0;

  &-icon {
    margin-right: 6px;
    cursor: pointer;
  }

  &-checkbox {
    width: 18px;
    height: 18px;
    border-radius: 3px;
    color: #296eff;
  }

  &-content {
    flex: 1;
  }
}
