.xnote-todolist {
  display: flex;
  margin: 8px 0;
  align-items: center;

  &-icon {
    margin-right: 6px;
    cursor: pointer;
    color: #296eff;
  }

  &-content {
    flex: 1;
    &[style*=text-indent] {
      text-indent: 0!important;
    }
  }
}
