@import "./code-themes/light";
@import "./code-themes/dark";
@import "./code-themes/vitality";
@import "./code-themes/starry";
code, .xnote-source-code {
  background-color: #fefefe;
}

.xnote-source-code code {
  padding: 0;
  border: none;
  background: none;
  border-radius: 0;
  vertical-align: inherit;
}

code {
  padding: 1px 5px;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, .08);
}

.xnote-source-code {
  position: relative
}

.xnote-source-code-container {
  border-radius: 5px;
  border: 1px solid #efefef;
  line-height: 1.418em;
  display: flex;
  position: relative;
  overflow: hidden;
  &.xnote-source-code-auto-break {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
  }

}

code, kbd, pre, samp {
  font-family: Microsoft YaHei Mono, Menlo, Monaco, Consolas, Courier New, monospace;
}

.xnote-source-code-line-number-bg {
  background-color: #f9f9f9;
  border-right: 1px solid #eee;
  width: 3em;
  display: none;
  position: relative;
  z-index: 2;
}

.xnote-source-code.xnote-source-code-line-number {
  .xnote-source-code-line-number-bg {
    display: block;
  }
  .xnote-source-code-line {
    margin-left: -4em;
  }
}

.xnote-source-code-content {
  flex: 1;
  padding: 15px 0 15px 0;
  counter-reset: codeNum;
  overflow: auto;
  position: relative;
}

.xnote-source-code-content-highlight {
  background-color: #eee
}

.xnote-source-code-content-highlight .xnote-source-code-line {
  opacity: 0.56;
}

.xnote-source-code-line {
  display: flex;
  margin-left: 0;
}

.xnote-source-code-line-content {
  padding: 0 20px;
}

.xnote-source-code-line-number .xnote-source-code-line::before {
  counter-increment: codeNum;
  content: counter(codeNum);
  box-sizing: border-box;
  position: sticky;
  z-index: 2;
  left: 0;
  min-width: 4em;
  transform: translateX(-4em);
  text-align: right;
  padding-right: 10px;
  overflow: hidden;
  white-space: nowrap;
  color: #aeaeae;
}

.xnote-source-code-content-highlight .xnote-source-code-line-emphasize {
  opacity: 1;
  background-color: #fefefe
}

.xnote-source-code-lang {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  pointer-events: none;
  font-size: 13px;
  padding: 4px 10px;
}
