@import "./code-themes/light";
@import "./code-themes/dark";
@import "./code-themes/vitality";
@import "./code-themes/starry";
code, .xnote-source-code {
  background-color: #fefefe;
}

.xnote-source-code code {
  padding: 0;
  border: none;
  background: none;
  border-radius: 0;
  vertical-align: inherit;
}

code {
  padding: 1px 5px;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid rgba(0, 0, 0, .08);
}

.xnote-source-code {
  position: relative
}

.xnote-source-code-container {
  border-radius: 5px;
  border: 1px solid #efefef;
  line-height: 1.418em;
  display: flex;
  position: relative;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
  overflow: hidden;
}

code, kbd, pre, samp {
  font-family: Microsoft YaHei Mono, Menlo, Monaco, Consolas, Courier New, monospace;
}

.xnote-source-code-line-number-bg {
  background-color: #f9f9f9;
  border-right: 1px solid #eee;
  width: 3em;
}

.xnote-source-code.xnote-source-code-hide-line-number {
  .xnote-source-code-line-number-bg {
    display: none;
  }
  .xnote-source-code-line {
    padding-left: 20px;
  }
}

.xnote-source-code-content {
  flex: 1;
  padding: 15px 0 15px 0;
  counter-reset: codeNum;
}

.xnote-source-code-content-highlight {
  background-color: #eee
}

.xnote-source-code-content-highlight .xnote-source-code-line {
  opacity: 0.56;
}

.xnote-source-code-line {
  position: relative;
  display: block;
  padding: 0 20px 0 0.5em
}

.xnote-source-code-line::before {
  counter-increment: codeNum;
  content: counter(codeNum);
  position: absolute;
  left: -5.3em;
  top: 0;
  width: 4em;
  text-align: right;
  padding: 0 0.8em 0 0.5em;
  overflow: hidden;
  white-space: nowrap;
  color: #aeaeae;
}

.xnote-source-code-content-highlight .xnote-source-code-line-emphasize {
  opacity: 1;
  background-color: #fefefe
}

.xnote-source-code-lang {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0.5;
  pointer-events: none;
  font-size: 13px;
  padding: 4px 10px;
}
