.menu-item {
  font-size: 14px;
  padding: 2px 10px;
  height: 26px;
  line-height: 26px;
  transition: background-color .2s;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;

  &:hover {
    background: #eee;
  }
}

.menu-check {
  display: none;

  &.checked {
    display: block;
    color: #296eff;
  }
}
