.xnote-hl-keyword {
  font-weight: bold;
}

.xnote-hl-string {
  color: rgb(221, 17, 68)
}

.xnote-hl-function {
  color: rgb(0, 134, 179);
}

.xnote-hl-number {
  color: #388138
}

.xnote-hl-tag {
  color: rgb(0, 0, 128)
}

.xnote-hl-comment {
  color: rgb(153, 153, 136);
  font-style: italic;
}

.xnote-hl-boolean {
  color: #388138;
  font-weight: bold
}

.xnote-hl-builtin {
  color: rgb(0, 134, 179);
}

.xnote-hl-regex {
  color: #f60;
}

.xnote-hl-attr-name {
  color: rgb(0, 134, 179);
}

.xnote-hl-attr-value {
  color: rgb(221, 17, 68)
}

.xnote-hl-class-name {
  color: rgb(0, 134, 179);
  font-weight: bold
}

.xnote-hl-selector {
  color: rgb(0, 134, 179);
  font-weight: bold
}
