.xnote-source-code[data-theme=starry] .xnote-hl-keyword {
  color: #71b155;
  font-weight: bold;
}

.xnote-source-code[data-theme=starry] .xnote-hl-string {
  color: #dd7600;
}

.xnote-source-code[data-theme=starry] .xnote-hl-function {
  color: #2e89c1;
}

.xnote-source-code[data-theme=starry] .xnote-hl-number {
  color: #388138
}

.xnote-source-code[data-theme=starry] .xnote-hl-tag {
  color: #2e89c1 //#79c0d7;
}

.xnote-source-code[data-theme=starry] .xnote-hl-comment {
  color: #5c6d6e;
  font-style: italic;
}

.xnote-source-code[data-theme=starry] .xnote-hl-boolean {
  color: #388138;
  font-weight: bold
}

.xnote-source-code[data-theme=starry] .xnote-hl-builtin {
  color: #2e89c1;
}

.xnote-source-code[data-theme=starry] .xnote-hl-regex {
  color: #f60;
}

.xnote-source-code[data-theme=starry] .xnote-hl-attr-name {
  color: #71b155;
}

.xnote-source-code[data-theme=starry] .xnote-hl-attr-value {
  color: #dd7600
}

.xnote-source-code[data-theme=starry] .xnote-hl-class-name {
  color: #2e89c1;
  font-weight: bold
}

.xnote-source-code[data-theme=starry] .xnote-hl-selector {
  color: #2e89c1;
  font-weight: bold
}

.xnote-source-code[data-theme=starry] .xnote-source-code-container {
  color: #a9aeb2;
  background-color: #182324;
  border: none
}

.xnote-source-code[data-theme=starry] .xnote-source-code-content-highlight {
  background: rgba(0, 0, 0, .2);
}

.xnote-source-code[data-theme=starry] .xnote-source-code-content-highlight .xnote-source-code-line-emphasize {
  opacity: 1;
  background-color: #182324
}

.xnote-source-code[data-theme=starry] .xnote-source-code-line::before {
  color: #536171
}

.xnote-source-code[data-theme=starry] .xnote-source-code-line-number-bg {
  background: #182324;
  border: none;
}
