.xnote-source-code[data-theme=vitality] .xnote-hl-function {
  color: #5e5eb9;
}

.xnote-source-code[data-theme=vitality] .xnote-source-code-container {
  //color: #a9aeb2;
  background-color: #fafafa;
  border: none;
}

.xnote-source-code[data-theme=vitality] .xnote-source-code-content-highlight {
  background: none;
}

.xnote-source-code[data-theme=vitality] .xnote-source-code-content-highlight .xnote-code-line-emphasize {
  opacity: 1;
  background-color: #fdfdfd
}

.xnote-source-code[data-theme=vitality] .xnote-hl-keyword {
  color: #659311;
}

.xnote-source-code[data-theme=vitality] .xnote-hl-tag {
  color: #5e5eb9;
  font-weight: bold;
}

.xnote-source-code[data-theme=vitality] .xnote-hl-comment {
  //color: #4c5156;
}

.xnote-source-code[data-theme=vitality] .xnote-hl-string {
  color: #f80;
}

.xnote-source-code[data-theme=vitality] .xnote-hl-attr-name {
  color: #659311;
}

.xnote-source-code[data-theme=vitality] .xnote-hl-attr-value {
  color: #f80;
}

.xnote-source-code[data-theme=vitality] .xnote-hl-regex {
  color: #af741d;
}

.xnote-source-code[data-theme=vitality] .xnote-hl-selector {
  color: #5e5eb9;
  font-weight: normal
}

.xnote-source-code[data-theme=vitality] .xnote-code-line::before {
  color: rgba(0, 0, 0, .3)
}

.xnote-source-code[data-theme=vitality] .xnote-source-code-line-number-bg {
  background: #fafafa;
  border: none;
}
