.xnote-list {
  margin: 8px 0;
  padding: 0;

  > li {
    display: flex;
    list-style: none;
  }

  &-content {
    min-width: 2em;
  }

  &-inner {
    display: table-row;
  }
}

ul.xnote-list .xnote-list-type {
  font-size: 16px;
  font-family: initial;
}

.xnote-list-type {
  min-width: 24px;
  text-indent: 0;
  text-align: left;
  color: #296eff;
  white-space: nowrap;
  box-sizing: border-box;
  flex-shrink: 0;
  user-select: none;
  display: table-cell;
}

.xnote-order-btn {
  //padding-left: 5px;
  display: block;
  padding-right: 10px;
  cursor: pointer;

  &:hover {
    padding-left: 4px;
    margin-left: -4px;
    border-radius: 3px;
    background: #eee;
  }
}

.xnote-list-content {
  display: table-cell;
}

.xnote-list-content[style*=text-indent] {
  text-indent: 0 !important;
}

//.xnote-list-content[style*=text-align] {
//  text-align: left !important;
//}
