.xnote-table {
  margin-top: 8px;
  margin-bottom: 8px;
  position: relative;

  //&:hover {
  //  .xnote-table-bar-v, .xnote-table-bar-h {
  //    display: block;
  //  }
  //}
}


.xnote-table-content {
  border-spacing: 0;
  border-collapse: collapse;

  &.hide-selection {
    * ::selection {
      background: none;
    }
  }
  td {
    border: 1px solid #ddd;
    padding: 0 10px;
  }
}

.xnote-table-bar {

}

.xnote-table-wrapper {
  position: relative;
}


.xnote-table-container {
  position: relative;
}

.xnote-table-delete-btn {
  background: #eee;
  border-radius: 4px;
  width: 24px;
  height: 30px;
  line-height: 30px;
  color: #5c6370;
  border: none;
  cursor: pointer;

  &:hover {
    color: #333;
  }
}
