.xnote-list {
  margin: 8px 0;
  padding: 0;
  list-style: none;
}

.xnote-list-type {
  min-width: 24px;
  display: inline-block;
  text-indent: 0;
  text-align: left;
  color: #296eff;
  white-space: nowrap;
  padding-right: 10px;
  box-sizing: border-box;
}

//.xnote-list-content[style*=text-indent] {
//  text-indent: 0 !important;
//}
