.xnote-source-code-editor {
  min-height: 300px;
  inset: 0;
  min-width: 590px;
  margin: -6px;
  overflow: hidden;

  .xnote-source-code {
    margin: 0;
    user-select: text;
    overflow: hidden;

    &-container {
      height: 100%;
      border: 0 !important;
    }

    &-content {
      box-sizing: border-box;
      overflow: hidden;
      max-height: initial;
      min-height: 300px;
    }
  }
}


.xnote-source-code-editor-help {
  position: sticky;
  height: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: right;

  a {
    position: absolute;
    bottom: 0;
    right: 5px;
    width: 100%;
    color: inherit;
    opacity: 0.5;
    font-size: 12px;

    &:hover {
      color: var(--vfui-color-primary);
    }
  }
}
